.wrapper {
    color: rgb(var(--color-text));
    background: rgb(var(--color-surface));
    
    padding: 1rem;
    border-radius: .33rem;
    
    display: flex;
    flex-direction: column;
    
    small{
        opacity: .66;
    }
}
