<mat-card class="mat-app-background">
  <div class="navbar__wrapper">
    <span class="navbar__deadLine" *ngIf="task.deadLine">{{ task.deadLine | date }}</span>
    <span class="navbar__title">{{ task.title }}</span>
    <div
      *ngIf="task.category"
      [ngStyle]="{ backgroundColor: task.category.color }"
      class="navbar__category"
    >
      <span [ngStyle]="{color: getCategoryTextColor(task.category.color)}">
        {{ task.category.name }}
      </span>
    </div>
  </div>
</mat-card>
