.navbar {
  &__wrapper {
    gap: 0.66rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__deadLine {
    opacity: .66;
    font-size: .66rem;
  }

  &__title {
    line-height: 1.2rem;
    font-size: 1.2rem;
  }

  &__category {
    opacity: .8;
    font-size: 0.8rem;
    padding: 0.33rem;
    border-radius: 0.33rem;
    width: min-content;
  }
}
