.button {
    padding: 0.66rem;
    font-size: 1rem;

    gap: 0.33rem;
    display: flex;

    border: none;
    border-radius: 0.33rem;
    
    color: rgb(var(--color-text));
    
    cursor: pointer;
    transition: .1s ease-in-out;
    
    &.primary {
        background: rgb(var(--color-primary));
    }

    &.surface {
        background: rgb(var(--color-surface));
    }

    &.raised {
        box-shadow: .1rem .1rem .33rem rgb(var(--color-accent-lg));
    }

    &.text {
        background: transparent;
    }

    &:active {
        box-shadow: none;
    }
}
