.wrapper {
    position: relative;

    .input {
        width: 100%;
        height: 100%;

        border: none;
        outline: none;
        border-radius: 0.33rem;

        color: rgb(var(--color-text));
        background: rgb(var(--color-surface));

        font-size: 1rem;
        padding: 0.5rem;

        &.ng-untouched {
            color: rgb(var(--color-surface));
        }
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        translate: 0.7rem 0.5rem;

        color: rgb(var(--color-text));
        opacity: 0.5;
        font-family: "Lato", sans-serif;
        font-weight: lighter;
    }
}
