<mat-toolbar>
  <span>AdComo</span>
  <span class="divider"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<ng-container *ngIf="tasks$ | async as tasks">
  <div class="list">
    <app-task-card
      [task]="task"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
      *ngFor="let task of tasks"
    ></app-task-card>
  </div>
</ng-container>

<button
  mat-fab
  color="primary"
  class="add__button"
  (click)="onAdd()"
>
  <mat-icon>add</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="['..','categories']">
    <mat-icon>bookmarks</mat-icon>
    <span>Categories</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
