<ng-container *ngIf="tasks$ | async as tasks">
  <div class="wrapper">
    <app-task-column
      title="Do"
      cdkDropList
      #doList="cdkDropList"
      [cdkDropListData]="tasks[0]"
      [cdkDropListConnectedTo]="[doingList, doneList]"
      (cdkDropListDropped)="onDrag($event)"
    >
      <app-task-card
        cdkDrag
        [task]="item"
        *ngFor="let item of tasks[0]"
      ></app-task-card>
    </app-task-column>
    <app-task-column
      title="Doing"
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="tasks[1]"
      [cdkDropListConnectedTo]="[doList, doneList]"
      (cdkDropListDropped)="onDrag($event)"
    >
      <app-task-card
        cdkDrag
        [task]="item"
        *ngFor="let item of tasks[1]"
      ></app-task-card>
    </app-task-column>
    <app-task-column
      title="Done"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tasks[2]"
      [cdkDropListConnectedTo]="[doList, doingList]"
      (cdkDropListDropped)="onDrag($event)"
    >
      <app-task-card
        cdkDrag
        [task]="item"
        *ngFor="let item of tasks[2]"
      ></app-task-card>
    </app-task-column>
  </div>
</ng-container>
