<ng-container *ngIf="show$ | async">
    <div
        [ngClass]="[
            'p-2',
            'mx-4',
            'fixed',
            'lef-2/4',
            'bottom-0',
            'min-w-min',
            'rounded-t',
            'bg-neutral-200',
            'z-10'
        ]"
    >
        <header>
            <app-button
                [icon]="faClose"
                [classArr]="['w-10', 'h-10', 'ml-auto']"
                (click)="close()"
            ></app-button>
        </header>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, sunt.
    </div>
    <div
        [ngClass]="[
            'w-screen',
            'h-screen',
            'opacity-50',
            'bg-neutral-900',
            'fixed',
            'lef-0',
            'top-0'
        ]"
    ></div>
</ng-container>
